<div class="container p-0 my-3 mx-auto">
  <div class="row">
    <div class="col">
      <%= @student.name %>さん<%= @student.grade %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>入塾時期</td>
            <td><%= @student.admission_date %></td>
          </tr>
          <tr>
            <td>在籍クラス</td>
            <td><%= @student.class_type %></td>
          </tr>
          <tr>
            <td>クラス順位</td>
            <td><%= @latest_result.class_rank %>位</td>
          </tr>
          <tr>
            <td>学年順位</td>
            <td><%= @latest_result.grade_rank %>位</td>
          </tr>
          <tr>
            <td>MVP率</td>
            <td><%= @latest_result.mvp_percentage %>％</td>
          </tr>
          <tr>
            <td>週間目標達成回数</td>
            <td><%= @latest_result.weekly_achievement %>回　/34回</td>
          </tr>
          <tr>
            <td>月間目標達成回数</td>
            <td><%= @latest_result.monthly_achievement %>回　/8回</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" style="width:500px; height:500px;">
      <canvas id="raderChart" style="width:500px; height:500px;"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col" style="width:1000px; height:400px;">
    <canvas id="lineChart" style="width:1000px; height:500px;"></canvas>
    </div>
  </div>
</div>

<script class="rader_chart_values">
  <%= render "rader_values", scores: @latest_scores %>   
</script>
<script class="chart_values">
  <%= render "chart_values", times: @times, scores_basic: @scores_basic, scores_personality: @scores_personality, scores_communication: @scores_communication, scores_self_image: @scores_self_image, scores_achievement_skill: @scores_achievement_skill, scores_thinking_ability: @scores_thinking_ability %>   
</script>